
* {
    --gigas-50: #eff2fe;
    --gigas-100: #e2e7fd;
    --gigas-200: #cbd2fa;
    --gigas-300: #abb5f6;
    --gigas-400: #8a8fef;
    --gigas-500: #6e6de7;
    --gigas-600: #5e52d9;
    --gigas-700: #5043bf;
    --gigas-800: #3f3694;
    --gigas-900: #39347b;
    --gigas-950: #221f47;
}


body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 20px 0;
    height: 100vh;
    background-color: var(--gigas-50);
    display: flex;
    flex-direction: column;
  }
  
  
  #app {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 800px;
    margin: 0 auto;
    position: relative;
    overflow: hidden; 
    color: var(--gigas-900);
  }
  
  
  .radio-list {
    flex-grow: 1;
    background-color: var(--gigas-150);
    overflow-y: auto;
    padding-bottom: 80px; 
  }
  
  
  .radio-item {
    padding: 10px;
    border-bottom: 1px solid var(--gigas-300);
    cursor: pointer;
    display: flex;
    align-items: center;
  }
  
  .radio-item:hover {
    background-color: var(--gigas-50);
  }
  
  .radio-item i {
    margin-right: 10px;
  }
  

  .radio-player {
    position: fixed;
    bottom: 15px;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    max-width: 800px;
    padding: 15px;
    background-color: var(--gigas-300);
    border: 1px solid var(--gigas-600);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 1rem;
    z-index: 100;
    box-shadow: 0 -2px 10px rgba(0, 0, 0, 0.1);
  }
  
  audio {
    margin-top: 10px;
    width: 100%;
  }
  